main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F7FB;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.top--blob {
  width: 300px;
  height: 340px;
  background-image: url(./img/top-blob.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -1;
  right: -1;
}

.bottom--blob {
  width: 300px;
  height: 340px;
  background-image: url('./img/blob\ 5\(2\).png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -100;
  left: -1;
}

.home {
  width: 100%;
  /* max-width: 550px; */
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #cb9d85; */
}

.action--board {
  display: flex;
  flex-direction: column;
  font-size: 3.5em;
  color: #293264;
  position: relative;
  align-items:center ;
  justify-content: center;
  z-index: 2222222;
}

.action--board h1 {
  font-family: 'Karla', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.action--board p {
  font-family: 'Inter', sans-serif;   
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 95px;
}

.action--board button {
  background-color: #4D5B9E;
  outline: none;
  border:none;
  width: 12em;
  height: 3em;
  border-radius: 25px;
  color: #fff;
  font-family: 'Inter', sans-serif;  
  font-size: 1.2em; 
  font-weight: medium;
}

// @media (min-width: 350px) {
//   .action--board h1 {
//     font-size: 1em;
//   }

//   .action--board p {
//     font-size: 0.5em;
//     margin-bottom: 30px;
//   }
//   .action--board button {
//     font-size: 26px; 
//   }

// }

// @media (min-width: 576px) {
//   .action--board h1 {
//     font-size: 1em;
//   }

//   .action--board p {
//     font-size: 0.5em;
//     margin-bottom: 30px;
//   }
//   .action--board button {
//     font-size: 26px; 
//   }

// }
@media screen and (min-width: 1024px) {
  .action--board h1 {
    font-size: 1em;
  }

  .action--board p {
    font-size: 0.5em;
    margin-bottom: 30px;
  }
  .action--board button {
    font-size: 26px; 
  }

}

// Quiz page
.quiz--page {
  position: absolute;
  height: 95vh;
  width: 80vw;
  z-index: 22222;
  display: flex;
  flex-direction: column;
  top: 2%;
  font-size: 30px;
  overflow-y:auto;
}

.quiz--board {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;
  padding:5px 0px;
  font-size: 25px;
}

.question {
  font-family: 'Karla', sans-serif;
  color: #293264;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 11px;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  gap:52px;
  align-items: center;
  justify-content: start;
}

.option {
  border: 2px solid #4D5B9E;
  outline: none;
  font-family: 'Inter', sans-serif;  
  font-size: 25.24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;
  border-radius: 7.71px;
  color: #293264;
  
}

.quiz--board hr {
  color: #D6DBF5;
  border-bottom: 0.01px solid #D6DBF5;
  width: 100%;
  /* height: 0px; */
  margin: 7px 0;
  /* border: none; */
}

.answer--indicator {
  color: #293264;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.quiz-action {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.quiz-action p {
  font-family: 'Inter', sans-serif;  
  color: #293264;
  letter-spacing: 1px;
  font-weight: 700;
}

.check--answer {
  background-color: #4D5B9E;
  outline: none;
  border:none;
  width: 220px;
  height: 55px;
  border-radius: 10px;
  color: #fff;
  font-family: 'Inter', sans-serif;  
  font-size: 0.9em; 
  font-weight: medium;
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .quiz--board {
    /* height: 100vh; */
    font-size: 16px;
    width: 80%;
  }

  .option {
    border: 1px solid #4D5B9E;
    font-family: 'Inter', sans-serif;  
    font-size: 18.24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;
    border-radius: 7.71px;
    color: #293264;
    
  }
}
